:root {
    --mainColor: blue;
    --fontSize: 1rem;
}

h1 {
    font-size: calc(var(--fontSize) * 6);
}

body {
    background: red;
    display: flex;
    color: var(--mainColor);
    background: url("../static/logo.png") no-repeat;
    background-size: contain;
}
