@media only screen and (device-width:375px) and (device-height:812px) and (-webkit-device-pixel-ratio:3) {
  /* iPhone X 独有样式写在这里*/
}
.hello {
  color: red;
}
body{
  background: red;
  display: flex;
  align-items: center;
  justify-content: center;
  #app{
    width: 500px;
    height: 200px;
    background: yellow;
  }
}

